<div class='container px-5 px-sm-0'>


  <div class='row'>

    <div class='col-md-3, bg-info'>  <!--サイドバー-->
      <h2>サイドバー</h2>
    </div>

    <div class='col-md-8 offset-md-1'> <!--メインコンテンツ-->
      <h1>仮Post#index</h1>
        <!--テンプレ化？-->
          <% @posts.each do |post| %>
            <div>
              <%= link_to(post_path(post.id)) do %>
                <%= image_tag post.get_image, size: '100x100' %>
              <% end %>
                <p>(説明文)<%= post.body %></p>
            </div>
          <% end %>
        <!--テンプレ化？-->
    </div>

  </div>
</div>