<div class='container'>
  <div class='row'>

    <div class='col-md-3 bg-info'>  <!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>

    <div class='col-md-9 '> <!--メインコンテンツ-->
      <h2 class ="font-weight-bold">
        <i class="fa-solid fa-house fa-sm" ></i>ホーム
      </h2>
      <%= render 'public/posts/index', posts: @posts %>
      <div class="">
        <%= paginate @posts %>
      </div>
    </div>

  </div>
</div>