<div class='container'>
 <!--メインコンテンツ-->
      <h2 class ="font-weight-bold">
        <i class="fa-solid fa-house fa-sm" ></i>ホーム
      </h2>
      <%= render 'public/posts/index', posts: @posts %>
      <div class="">
        <%= paginate @posts %>
      </div>
</div>