<% if @comment.errors.any?%>
<div class="text-center" style="color:red;">
<h3><%= @comment.errors.count %>件のエラーが発生しました</h3><br>
<% @comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>
<% end %>