<div class="container bg-custom-color">

  <div class= "row ">
    <div class= "col ">
      <h1>TEGAKI gramとは</h1>
      <div class="">
        <%= link_to root_path do %> <!--ロゴ-->
          <%= image_tag "logo_text_toka.png", alt: "Logo", width: 200 %>
        <% end %>
      </div>
    </div>

    <div class= "col ">
      <h1>私について</h1>
    </div>
  </div>

  <div class= "">
    <h1>投稿紹介</h1>
  </div>

  <div class="">
    <h1>謝辞</h1>
    <h1>画像素材</h1>
  </div>
</div>
