<div class="container">
  <div class="row">
    <div class= "">
      <h1>welcome to TEGAKI gram!!</h1>
      
      <div class="">
        <div class="row">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-outline-info btn-sm btn-block mb-5 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'サインイン',new_user_registration_path, class: "btn btn-outline-success btn-sm btn-block mb-5 sign_up" %>
        </div>
        <div class="row">
          <%= link_to 'ゲストログイン',new_user_registration_path, class: "btn btn-outline-secondary btn-sm btn-block mb-5 sign_up" %>
        </div>
        <div class="row">
          <%= link_to 'もっと見る',new_user_registration_path, class: "btn btn-outline-danger btn-sm btn-block mb-5 sign_up" %>
        </div>
      </div>

      <div class="toriaezu">
        <h3>about文面が入ります</h3>
      </div>

      <div class="">
        <h3>新着POSTが5件ぐらい表示されます</h3>
      </div>


    </div>
  </div>
</div>
