<div class="container bg-custom-color">
  <div class="row">
    <div class= "">
      <h1>welcome to TEGAKI gram!!</h1>

      <div class="">
        <h3>about文面が入ります</h3>
      </div>

      <div class="">
        <h3>仮新着POSTが5件ぐらい表示されます</h3>
      </div>

      <div class="">
        <div class="row">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-outline-info btn-sm btn-block mb-5 sign_in" %>
        </div>
        <div class="row">
          <%= link_to 'サインイン',new_user_registration_path, class: "btn btn-outline-success btn-sm btn-block mb-5 sign_up" %>
        </div>
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm btn-block mb-5 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'もっと見る',new_user_registration_path, class: "btn btn-outline-danger btn-sm btn-block mb-5 sign_up" %>
        </div>
      </div>

      <i class="fa-solid fa-house fa-2xs" style="color: #B197FC;">Home</i>
      <i class="fa-solid fa-user fa-2xs" style="color: #B197FC;">User</i>
      <i class="fa-solid fa-user-check fa-2xs" style="color: #B197FC;">User follow</i>
      <i class="fa-solid fa-user-xmark fa-2xs" style="color: #B197FC;">User unfollow</i>
      <i class="fa-solid fa-compass fa-2xs" style="color: #B197FC;">Search</i>
      <i class="fa-solid fa-comment-dots fa-2xs" style="color: #B197FC;">Comment</i>
      <i class="fa-solid fa-circle-plus fa-2xl" style="color: #B197FC;">New post (2xl)</i>
      <i class="fa-solid fa-plus fa-2xl" style="color: #B197FC;">New post (2xl)</i>
      <i class="fa-solid fa-pen-to-square fa-2xs" style="color: #B197FC;">New post (2xl)</i>
      <i class="fa-solid fa-gear fa-2xs" style="color: #B197FC;">Setting</i>
      <i class="fa-solid fa-wrench fa-2xs" style="color: #B197FC;">Setting</i>
      <i class="fa-solid fa-trash-can fa-2xs" style="color: #B197FC;">Delete</i>
      <i class="fa-solid fa-calendar-days fa-2xs" style="color: #B197FC;">created_at</i>
      <i class="fa-solid fa-table-cells fa-2xs" style="color: #B197FC;">Index</i>
      <i class="fa-solid fa-bookmark fa-2xs" style="color: #B197FC;">Favorite</i>
      <i class="fa-solid fa-heart fa-bounce" style="color: #B197FC;">Favorite</i>
      <i class="fa-solid fa-thumbs-up fa-beat fa-2xs" style="color: #B197FC;">Favorite</i>


    </div>
  </div>
</div>
