<div class='container'>
  <div class='row'>

  <div class='col-md-3, bg-info'>  <!--サイドバー-->
    <h2>サイドバー</h2>
  </div>

    <div class="col-md-8 px-5 px-sm-0 mx-auto"> <!--メインコンテンツ-->
    <h2>仮確認画面</h2>
      <h4>ユーザー側の退会処理はadmin側作ってからやります</h4>
      <div class="form-group">  <!--実行ボタン-->
        <!--%= f.submit "変更を保存", class: 'btn btn-outline-successsecondary' %-->
      </div>
      
      <div class="form-group">  <!--戻るボタン-->
        <!--%= link_to '戻る', back_path, class:"btn btn-sm btn-outline-secondary " %-->
      </div>

    <% end %>
  </div>
</div>
