<div class='container px-5 px-sm-0'>

  <div class='row'>

    <div class='col-md-3 bg-info'>  <!--サイドバー-->
      <%= render 'layouts/sidebar' %>
    </div>

    <div class='col-md-8 offset-md-1'> <!--メインコンテンツ-->
      <h2>いいねした投稿</h2>
        <% if @posts_favorite == [] %>
          <div class="test-center">
            いいねした投稿はありません<br>
            いいねしてみよう!
          </div>
        <% else %>
          <div>
            <%= render 'public/posts/index', posts: @posts_favorite %>
          </div>
        <% end %>
    </div>

  </div>
</div>
